<div class="container">
  <h2>View 1</h2>
  Name:
  <br />
  <input type="text" data-ng-model="filter.name" />
  <br />
  <ul>
    <li data-ng-repeat="cust in customers | filter:filter.name">{{cust.name}} - {{cust.city}}</li>
  </ul>

  <h2>Add new customer</h2>
  Customer Name:<br />
  <input type="text" data-ng-model="newCustomer.name" />
  <br />
  Custoemr City:<br />
  <input type="text" data-ng-model="newCustomer.city" />
  <br />
  <button data-ng-click="addCustomer()">Add Customer</button>

  <h2>Go to <a href="#/view2">view 2</a></h2>
</div>